
@font-face {
    font-family: "keepCalm";
    src: url(/tipografias/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Baron Neue";
    src: url(/tipografias/Baron\ Neue\ Bold.otf) format("opentype");
}

body {
    background-color:  #000;
    min-height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

#seleccionar-carpincho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color:  rgba(255, 206, 6, 1);
    font-size: 80px;
    font-family: Baron Neue;
}

h2{
    font-size: 20px;
    font-family: KeepCalm;
    color: #ffffff;
}


.subtitulo {
    font-size: 20px;
    font-family: KeepCalm;
    color: #ffffff;
}

.tarjetas {
    display: flex;
    gap: 20px;
    
}

.card-container{
    display: flex;
    flex-direction: column;
    border-radius:  rgba(255, 206, 6, 1);
}

.tarjeta-de-carpinchomon img {
    width: 190px;
    cursor: pointer;
    
}

.nombre-carpincho {
    font-size: 30px;
    color:  rgba(255, 206, 6, 1);
}

#boton-carpincho {
    color: #ffffff;
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    width: 100px;
    border-color: rgba(255, 206, 6, 1);
    margin-top: 20px;
    cursor: pointer;
}


input{
   display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
    background-color:  rgba(255, 206, 6, 1);
    width: 100px;
    border-color: #ffffff;
}

#boton-reiniciar {
    color: #ffffff;
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    width: 100px;
    border-color: rgba(255, 206, 6, 1);
    margin-top: 20px;
}

p {
    color: #ffffff;
}

/*body {
    font-family: 'Russo One', sans-serif;
    background-image: url(./fondo.jpg);
    background-size: cover;
    esto sirve para agregar una imagen de fondo a gusto
}*/ 
