@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@1,300&family=Rajdhani:wght@300&family=Roboto+Mono:wght@300&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
   /* background-color: #539165*/
   background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

#seleccionar-carpincho {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #130d5e;
    font-size: 60px;
    font-family: 'Rajdhani', sans-serif;
}


.subtitulo {
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;

}

.tarjeta-de-carpinchomon {
    width: 181px;
    height: 116px;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );   padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.tarjeta-de-carpinchomon img {
    width: 90px;
    cursor: pointer;
}

#boton-carpincho {
    width: 120px;
    height: 27px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid;
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}


input{
   display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 10px;
    background-color: #b415c9;
    width: 100px;
}



/*body {
    font-family: 'Russo One', sans-serif;
    background-image: url(./fondo.jpg);
    background-size: cover;
    esto sirve para agregar una imagen de fondo a gusto
}*/ 
