
@font-face {
    font-family: "keepCalm";
    src: url(/tipografias/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Baron Neue";
    src: url(/tipografias/Baron\ Neue\ Bold.otf) format("opentype");
}

body {
    background-color:#232D4F;
    min-height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

#seleccionar-carpincho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color:  rgba(117,170,219);
    text-shadow: 2px 2px 1px #ffffff;
    font-size: 80px;
    font-family: Baron Neue;
}

h2{
    font-size: 20px;
    font-family: KeepCalm;
    color: #ffffff;
    text-align:center;
}


.subtitulo {
    font-size: 20px;
    font-family: KeepCalm;
    color: #ffffff;
}

#tarjetas {
    display: flex;
    gap: 20px;
    
}

.tarjeta-de-carpinchomon img {
    width: 190px;
    cursor: pointer;
    border: 5px solid #232D4F;
    box-shadow: 5px 5px 5px 1px #ffffff;
    border-radius: 7px;
    height: auto;
    transition: transform 0.2s ease; /* Suaviza el efecto */
}

.card-container img:active {
  transform: scale(0.95); /* Reduce el tamaño ligeramente */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); /* Sombra más suave */
}

.nombre-carpincho {
    font-size: 30px;
    color:  rgba(255, 206, 6, 1);
    margin-bottom: 10px;
    text-align: center;
}


#boton-carpincho {
    color: #ffffff;
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    width: 100px;
    border-color:  rgba(117,170,219);
    margin-top: 20px;
    margin-bottom:3rem;
    cursor: pointer;
}


input{
   display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.ataques-container{
  display:grid;
  grid-template-columns: 100px 100px
  text-align:center;
}

#ataques-del-jugador{
  background-color:#e1e1e1;

}
#ataques-del-enemigo{
  background-color:#3ff;

}

.boton-de-ataque {
    color: #ffffff;
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
    background-color: transparent;
    width: 100px;
    border-color:  rgba(117,170,219);
}

#mensaje {
    font-family: KeepCalm;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 8px;
    background: linear-gradient(to bottom,#75AADB 20%,#ffF 40%, #75AADB 80%);
    width: 150px;
    border-color: rgba(117,170,219);
    margin-top: 10px;
    color:#000;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#resultado {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

#container__mensaje--reinciar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    color: #fff;
    font-family: KeepCalm;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    width: 100px;
    border-color: rgba(117,170,219);
    transition: 0.3s;
}

#boton-reiniciar:hover{
  background-color: #fff;
  color: #000;
}

p {
    color: #000;
}


